@charset "utf-8";
/* CSS Document */

/*.site-header .header-top {
    background: url('../images/nav_block.png') no-repeat scroll left bottom transparent;
}*/

#specialH3{
	background-color:#D92526;
	padding:2%;
	color:white;
	font-weight:bold;
}

.chat{
	width:100%;
	max-width:80px;
}

.phone{
	width:100%;
	max-width:20px;
	margin-bottom:0;
}

.question{
	width:100%;
	max-width:20px;
	padding-right:5px;
	margin-bottom:0;
}

.success{
	width:100%;
	max-width:284px;
}

#search-top{
	border-radius:50px;
	height:20px;
}


.logoBox{
				width:25%;
				float:left;
				text-align:center;
			}
			
			.mid{
				width:75%;
				float:left;
			}
			
			.midTop{
				margin-left:10%;
			}
			
			.midTop ul li{
				width:19%;
				float:left;
				list-style:none;
				color:#fff;
				font-size:.9em;
				font-weight:bold;
				cursor:pointer;
				border-left:#fff solid thin;
				text-align:center;
				height:21px;
				
			}
			
			.midTop ul li:nth-child(5){
				border-left:none;
			}
			
			.midTop ul li:nth-child(1){
				border-left:none;
			}
			
			.midTop ul{
				text-align:center;
			}
			
			
			
			.midNav ul li{
				width:23.8%;
				float:left;
				list-style:none;
				margin-top:60px;
				color:#fff;
				font-weight:bold;
				background-color:#504883;
				padding-left:1%;
				padding-top:1.5%;
				padding-bottom:1.5%;
				border-left:#3a3366 solid thin;
				cursor:pointer;
				text-align:left;
				font-size:.9em;
				text-align:center;
			}
			
			.midNav ul li:hover{
				background-color:#6b6499;
			}
			
			.midNav ul{
				text-align:center;
			}

.bottomNav img{
	margin-bottom:0
}

.ptiLogo{
	width:50%;
	max-width:158px;
}

.headCenter{
	max-width:1070px;
	margin:0 auto;
}

header{
	background-color:#3a3366;
	padding-top:1%;
	font-family:Arial, Helvetica, sans-serif;
}

.bottomHead{
	background-color:#b8b6c5;
	width:100%;
	clear:both;
}

.bottomNav{
	width:100%;
}

.bottomNav ul li{
	width:14.285%;
	float:left;
	list-style:none;
	font-size:.9em;
	padding:1% 0;
	color:#000;
	font-weight:bold;
	text-align:left;
}

.bottomNav ul{
	text-align:center;
}

.bottomNav ul li:hover{
	background-color:#d1cfdb;
	cursor:pointer;
}




.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	/*display: inline-block;*/
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}







.brand {
	float: left;
	width: 80%;
	margin-left:3px;
	margin-top:18%;
}

.brand a {
    display: block;
    max-width:100%;
    box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.15) inset;
    padding: 2%;
}

#logo {
	margin-bottom:0px;
}

.hsSenior {
clear: both;
float: left;
width: 16.5%;
margin-top:18%;

}

.hsSenior img {margin-bottom:0px;}

.home div.main {
    padding: 40px 0px;
}
body.home div.pti-intro {
    margin-top: -231px;
    width: 712px;
    background: none repeat scroll 0% 0% #FFF;
    height: auto;
    overflow: hidden;
    visibility: visible;
}
.pti-intro:after {
    height: 0px
}

#caption1 {
	background: none repeat scroll 0% 0% rgba(204, 35, 40, 0.6);
}
#caption2 {
	background: none repeat scroll 0% 0% rgba(219, 169, 54, 0.6);
}
#caption3 {
	background: none repeat scroll 0% 0% rgba(136, 153, 60, 0.6);
}
#caption4 {
	background: none repeat scroll 0% 0% rgba(33, 33, 67, 0.6);
}
#caption5 {
	background: none repeat scroll 0% 0% rgba(237, 136, 37, 0.6);
}
#caption6 {
	background: none repeat scroll 0% 0% rgba(219, 169, 54, 0.6);
}
#caption7 {
	background: none repeat scroll 0% 0% rgba(29, 102, 85, 0.6);
}
#caption8 {
	background: none repeat scroll 0% 0% rgba(66, 82, 125, 0.6);
}
#caption9 {
	background: none repeat scroll 0% 0% rgba(102, 33, 84, 0.6);
}
#caption10 {
	background: none repeat scroll 0% 0% rgba(33, 33, 66, 0.6);
}
#caption11 {
	background: none repeat scroll 0% 0% rgba(204, 34, 39, 0.6);
}



